NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=/dashboard
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=/dashboard
NEXT_PUBLIC_CLERK_TELEMETRY_DISABLED=1

# Neon PostgreSQL Connection String
DATABASE_URL=postgresql://user:password@hostname:5432/dbname?sslmode=require

# Google Gemini API Key
GEMINI_API_KEY=

# Upstash Redis Connection String (Redis Protocol rediss://...)
REDIS_URL=rediss://default:password@hostname:6379
UPSTASH_REDIS_URL=rediss://default:password@hostname:6379